#mine{
    margin:50px auto;
}
.level{
    text-align: center;
    margin-bottom: 10px;
}
.level button{
    padding: 5px 15px;
    background: #02a4ad;
    border:none;
    color:#fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

}
.level button.active{
    background: #00abff;
}

table{
    border-spacing: 1px;
    background: #929196;
    margin:0 auto;
}
td{
    padding:0;
    width:20px;
    height:20px;
    background: #ccc;
    border:2px solid;
    border-color: #fff #a1a1a1 #a1a1a1;
    text-align: center;
    line-height: 20px;
    font-weight: bold;/////加粗
}


.info{
    margin-top: 10px;
    text-align: center;
}